In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from numpy import loadtxt
%matplotlib inline

In [2]:
clinicalDataDF = pd.read_csv('TCGA_clincical_BRCA.txt', sep='\t')

In [4]:
clinicalDataDF.head()

,CASE_ID,AGE,AJCC_METASTASIS_PATHOLOGIC_PM,AJCC_NODES_PATHOLOGIC_PN,AJCC_PATHOLOGIC_TUMOR_STAGE,AJCC_STAGING_EDITION,AJCC_TUMOR_PATHOLOGIC_PT,BRACHYTHERAPY_TOTAL_DOSE_POINT_A,CANCER_TYPE,CANCER_TYPE_DETAILED,...,STAGING_SYSTEM,STAGING_SYSTEM_OTHER,SURGERY_FOR_POSITIVE_MARGINS,SURGERY_FOR_POSITIVE_MARGINS_OTHER,SURGICAL_PROCEDURE_FIRST,TISSUE_SOURCE_SITE,TUMOR_STATUS,TUMOR_TISSUE_SITE,VIAL_NUMBER,VITAL_STATUS
0,TCGA-A7-A3J0-01,62.0,M0,N0,Stage IIA,7th,T2,NaN,Breast Cancer,Breast Invasive Mixed Mucinous Carcinoma,...,Sentinel node biopsy alone,NaN,NaN,NaN,Lumpectomy,A7,TUMOR FREE,Breast,A,Alive
1,TCGA-OL-A66N-01,59.0,MX,N3,Stage IIIC,7th,T3,NaN,Breast Cancer,Breast Invasive Lobular Carcinoma,...,Sentinel node biopsy alone,NaN,NaN,NaN,Modified Radical Mastectomy,OL,TUMOR FREE,Breast,A,Alive
2,TCGA-AQ-A0Y5-01,70.0,MX,N2a,Stage IIIA,7th,T2,NaN,Breast Cancer,Breast Invasive Ductal Carcinoma,...,Sentinel lymph node biopsy plus axillary disse...,NaN,NaN,NaN,Modified Radical Mastectomy,AQ,TUMOR FREE,Breast,A,Dead
3,TCGA-E9-A22H-01,42.0,M0,N1,Stage IIB,7th,T2,NaN,Breast Cancer,Breast Invasive Ductal Carcinoma,...,Axillary lymph node dissection alone,NaN,NaN,NaN,Modified Radical Mastectomy,E9,TUMOR FREE,Breast,A,Alive
4,TCGA-BH-A0EB-01,69.0,M0,N0 (i-),Stage IA,NaN,T1c,H-SCORE 300,Breast Cancer,Breast Invasive Ductal Carcinoma,...,Sentinel lymph node biopsy plus axillary disse...,NaN,NaN,NaN,Other,BH,TUMOR FREE,Breast,A,Alive

In [4]:
#clinicalDataDF['IHC_HER2'].head()

In [5]:
#clinicalDataDF = clinicalDataDF.loc[clinicalDataDF['IHC_HER2'] == 'Positive']

In [6]:
def removeLastHyphenOnwards(x):
    for i in range(len(x)-1,0,-1):
        if x[i]=='-':
            return x[0:i]

In [7]:
clinicalDataDF['CASE_ID'] = clinicalDataDF['CASE_ID'].apply(lambda x: removeLastHyphenOnwards(x))

In [8]:
clinicalDataDF.to_csv('1094_clinical.txt', sep='\t')

In [9]:
clinicalDataDF.shape

(1105, 108)

In [10]:
bdDataDF = pd.read_csv('1094_bulk_data.txt', sep='\t')

In [11]:
bdDataDF.shape

(509, 1095)

In [12]:
bdDataDF.head()

,gene_name,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
0,SERPINA3,6.661333,1.577477,5.222789,6.237654,5.947018,6.082397,3.650607,3.302283,4.673470,...,6.149883,2.354044,5.997308,6.289944,3.528956,5.777949,6.596274,7.120637,7.423668,7.485655
1,ACACB,6.330858,4.396284,4.805904,4.966865,5.691106,5.667721,4.809194,7.761777,5.601556,...,5.417592,3.387632,5.731086,6.418677,6.902343,4.997256,7.548762,7.420354,5.345336,5.002684
2,ADARB1,6.897489,5.652210,5.257610,7.006321,6.942789,6.713138,5.408853,5.599921,6.831413,...,6.886281,4.321727,6.200063,6.764018,5.699959,5.810218,6.754588,7.044514,6.586207,6.447253
3,ADCY1,9.929059,3.968036,5.426443,5.886470,4.268698,4.309261,3.759677,3.843700,4.131784,...,7.208777,1.893870,5.921672,5.617453,2.930743,3.437428,5.799983,6.786938,3.910495,7.442420
4,ADCYAP1,6.766269,4.335945,3.162058,4.232038,5.973976,4.516083,5.283369,2.777541,4.668671,...,6.116737,0.000000,4.232038,5.203749,5.392043,0.000000,7.405288,5.203749,6.521467,5.022526

In [13]:
bulkDataDF = bdDataDF.transpose()

In [14]:
bulkDataDF.head()

,0,1,2,3,4,5,6,7,8,9,...,499,500,501,502,503,504,505,506,507,508
gene_name,SERPINA3,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,CYP4Z1,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B
TCGA-3C-AAAU,6.66133,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,2.62412,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501
TCGA-3C-AALI,1.57748,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,6.10018,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823
TCGA-3C-AALJ,5.22279,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,0.469782,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614
TCGA-3C-AALK,6.23765,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,3.57177,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237

In [15]:
new_header = bulkDataDF.iloc[0] #grab the first row for the header
bulkDataDF = bulkDataDF[1:] #take the data less the header row
bulkDataDF.columns = new_header #set the header row as the df header

In [16]:
bulkDataDF.head()

gene_name,SERPINA3,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,CYP4Z1,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B
TCGA-3C-AAAU,6.66133,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,2.62412,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501
TCGA-3C-AALI,1.57748,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,6.10018,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823
TCGA-3C-AALJ,5.22279,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,0.469782,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614
TCGA-3C-AALK,6.23765,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,3.57177,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237
TCGA-4H-AAAK,5.94702,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,...,4.05294,5.00913,7.07083,6.39422,6.57522,7.75234,6.21045,6.46619,6.74495,5.57506

In [17]:
#bulkDataDF = bulkDataDF.rename(index=str, columns={'gene_name': "CASE_ID"})

In [18]:
bulkDataDF['CASE_ID'] = bulkDataDF.index

In [19]:
bulkDataDF.head()

gene_name,SERPINA3,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B,CASE_ID
TCGA-3C-AAAU,6.66133,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501,TCGA-3C-AAAU
TCGA-3C-AALI,1.57748,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823,TCGA-3C-AALI
TCGA-3C-AALJ,5.22279,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614,TCGA-3C-AALJ
TCGA-3C-AALK,6.23765,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237,TCGA-3C-AALK
TCGA-4H-AAAK,5.94702,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,...,5.00913,7.07083,6.39422,6.57522,7.75234,6.21045,6.46619,6.74495,5.57506,TCGA-4H-AAAK

In [20]:
joined_df = bulkDataDF.merge(clinicalDataDF, on='CASE_ID', how='inner')

In [21]:
joined_df.shape

(1101, 617)

In [22]:
joined_df.head()

,SERPINA3,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,STAGING_SYSTEM,STAGING_SYSTEM_OTHER,SURGERY_FOR_POSITIVE_MARGINS,SURGERY_FOR_POSITIVE_MARGINS_OTHER,SURGICAL_PROCEDURE_FIRST,TISSUE_SOURCE_SITE,TUMOR_STATUS,TUMOR_TISSUE_SITE,VIAL_NUMBER,VITAL_STATUS
0,6.66133,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN
1,1.57748,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,Sentinel lymph node biopsy plus axillary disse...,NaN,NaN,NaN,Lumpectomy,3C,TUMOR FREE,Breast,A,Alive
2,5.22279,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,NaN,NaN,NaN,NaN,Modified Radical Mastectomy,3C,TUMOR FREE,Breast,A,Alive
3,6.23765,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,Sentinel node biopsy alone,NaN,NaN,NaN,Simple Mastectomy,3C,TUMOR FREE,Breast,A,Alive
4,5.94702,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,...,Axillary lymph node dissection alone,NaN,NaN,NaN,Modified Radical Mastectomy,4H,TUMOR FREE,Breast,A,Alive

In [23]:
tmpBulkData = joined_df.loc[:,'ACACB':'CASE_ID']

In [24]:
tmpBulkData.shape

(1101, 509)

In [25]:
tmpBulkData.head()

,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,ALPL,...,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B,CASE_ID
0,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,4.5526,...,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501,TCGA-3C-AAAU
1,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,6.74564,...,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823,TCGA-3C-AALI
2,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,5.64154,...,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614,TCGA-3C-AALJ
3,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,6.71025,...,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237,TCGA-3C-AALK
4,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,5.07473,...,5.00913,7.07083,6.39422,6.57522,7.75234,6.21045,6.46619,6.74495,5.57506,TCGA-4H-AAAK

In [26]:
tmpClinicalData = joined_df.loc[:,'CASE_ID':'VITAL_STATUS']

In [27]:
tmpClinicalData.head()

,CASE_ID,AGE,AJCC_METASTASIS_PATHOLOGIC_PM,AJCC_NODES_PATHOLOGIC_PN,AJCC_PATHOLOGIC_TUMOR_STAGE,AJCC_STAGING_EDITION,AJCC_TUMOR_PATHOLOGIC_PT,BRACHYTHERAPY_TOTAL_DOSE_POINT_A,CANCER_TYPE,CANCER_TYPE_DETAILED,...,STAGING_SYSTEM,STAGING_SYSTEM_OTHER,SURGERY_FOR_POSITIVE_MARGINS,SURGERY_FOR_POSITIVE_MARGINS_OTHER,SURGICAL_PROCEDURE_FIRST,TISSUE_SOURCE_SITE,TUMOR_STATUS,TUMOR_TISSUE_SITE,VIAL_NUMBER,VITAL_STATUS
0,TCGA-3C-AAAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN
1,TCGA-3C-AALI,50.0,M0,N1a,Stage IIB,6th,T2,NaN,Breast Cancer,Breast Invasive Ductal Carcinoma,...,Sentinel lymph node biopsy plus axillary disse...,NaN,NaN,NaN,Lumpectomy,3C,TUMOR FREE,Breast,A,Alive
2,TCGA-3C-AALJ,62.0,M0,N1a,Stage IIB,7th,T2,NaN,Breast Cancer,Breast Invasive Ductal Carcinoma,...,NaN,NaN,NaN,NaN,Modified Radical Mastectomy,3C,TUMOR FREE,Breast,A,Alive
3,TCGA-3C-AALK,52.0,M0,N0 (i+),Stage IA,7th,T1c,NaN,Breast Cancer,Breast Invasive Ductal Carcinoma,...,Sentinel node biopsy alone,NaN,NaN,NaN,Simple Mastectomy,3C,TUMOR FREE,Breast,A,Alive
4,TCGA-4H-AAAK,50.0,M0,N2a,Stage IIIA,7th,T2,NaN,Breast Cancer,Breast Invasive Lobular Carcinoma,...,Axillary lymph node dissection alone,NaN,NaN,NaN,Modified Radical Mastectomy,4H,TUMOR FREE,Breast,A,Alive

In [28]:
mid = tmpBulkData['CASE_ID']
tmpBulkData.drop(labels=['CASE_ID'], axis=1,inplace = True)
tmpBulkData.insert(0, 'CASE_ID', mid)

In [29]:
tmpBulkData.head()

,CASE_ID,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,CYP4Z1,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B
0,TCGA-3C-AAAU,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,2.62412,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501
1,TCGA-3C-AALI,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,6.10018,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823
2,TCGA-3C-AALJ,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,0.469782,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614
3,TCGA-3C-AALK,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,3.57177,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237
4,TCGA-4H-AAAK,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,...,4.05294,5.00913,7.07083,6.39422,6.57522,7.75234,6.21045,6.46619,6.74495,5.57506

In [30]:
tmpBulkData.shape

(1101, 509)

In [31]:
tmpBulkData.head()

,CASE_ID,ACACB,ADARB1,ADCY1,ADCYAP1,ADD3,ADM,AES,NR0B1,ALDH1B1,...,CYP4Z1,GLYATL2,LPCAT4,SGMS1,H19,EFCAB4A,FRYL,MSL1,ZNF710,ANKRD30B
0,TCGA-3C-AAAU,6.33086,6.89749,9.92906,6.76627,5.77367,5.17064,6.85989,3.31382,6.32579,...,2.62412,3.30521,6.9946,6.04335,5.08939,6.61886,6.83312,6.78676,7.43422,7.24501
1,TCGA-3C-AALI,4.39628,5.65221,3.96804,4.33595,5.61311,7.09393,6.81049,0,6.17934,...,6.10018,1.83272,5.85655,5.46075,6.07376,6.14358,5.78043,5.62009,6.64871,2.65823
2,TCGA-3C-AALJ,4.8059,5.25761,5.42644,3.16206,5.39343,5.02342,6.30463,0,5.88521,...,0.469782,1.6261,6.31132,5.19607,6.4771,5.31672,5.26317,6.18897,5.71692,8.30614
3,TCGA-3C-AALK,4.96687,7.00632,5.88647,4.23204,6.96004,5.72575,7.2602,0,6.78284,...,3.57177,5.52429,6.61359,6.6327,5.97345,8.4191,6.26105,7.04783,6.75538,7.71237
4,TCGA-4H-AAAK,5.69111,6.94279,4.2687,5.97398,7.0394,5.69211,6.36788,4.67246,6.98505,...,4.05294,5.00913,7.07083,6.39422,6.57522,7.75234,6.21045,6.46619,6.74495,5.57506

In [32]:
finalBulkDataDF = tmpBulkData.transpose()

In [33]:
finalBulkDataDF.head()

,0,1,2,3,4,5,6,7,8,9,...,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100
CASE_ID,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,TCGA-A1-A0SD,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
ACACB,6.33086,4.39628,4.8059,4.96687,5.69111,5.66772,4.80919,7.76178,5.60156,6.99139,...,5.41759,3.38763,5.73109,6.41868,6.90234,4.99726,7.54876,7.42035,5.34534,5.00268
ADARB1,6.89749,5.65221,5.25761,7.00632,6.94279,6.71314,5.40885,5.59992,6.83141,7.12242,...,6.88628,4.32173,6.20006,6.76402,5.69996,5.81022,6.75459,7.04451,6.58621,6.44725
ADCY1,9.92906,3.96804,5.42644,5.88647,4.2687,4.30926,3.75968,3.8437,4.13178,5.82649,...,7.20878,1.89387,5.92167,5.61745,2.93074,3.43743,5.79998,6.78694,3.91049,7.44242
ADCYAP1,6.76627,4.33595,3.16206,4.23204,5.97398,4.51608,5.28337,2.77754,4.66867,2.77754,...,6.11674,0,4.23204,5.20375,5.39204,0,7.40529,5.20375,6.52147,5.02253

In [34]:
new_header = finalBulkDataDF.iloc[0] #grab the first row for the header
finalBulkDataDF = finalBulkDataDF[1:] #take the data less the header row
finalBulkDataDF.columns = new_header #set the header row as the df header

In [35]:
finalBulkDataDF.head()

CASE_ID,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,TCGA-A1-A0SD,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
ACACB,6.33086,4.39628,4.8059,4.96687,5.69111,5.66772,4.80919,7.76178,5.60156,6.99139,...,5.41759,3.38763,5.73109,6.41868,6.90234,4.99726,7.54876,7.42035,5.34534,5.00268
ADARB1,6.89749,5.65221,5.25761,7.00632,6.94279,6.71314,5.40885,5.59992,6.83141,7.12242,...,6.88628,4.32173,6.20006,6.76402,5.69996,5.81022,6.75459,7.04451,6.58621,6.44725
ADCY1,9.92906,3.96804,5.42644,5.88647,4.2687,4.30926,3.75968,3.8437,4.13178,5.82649,...,7.20878,1.89387,5.92167,5.61745,2.93074,3.43743,5.79998,6.78694,3.91049,7.44242
ADCYAP1,6.76627,4.33595,3.16206,4.23204,5.97398,4.51608,5.28337,2.77754,4.66867,2.77754,...,6.11674,0,4.23204,5.20375,5.39204,0,7.40529,5.20375,6.52147,5.02253
ADD3,5.77367,5.61311,5.39343,6.96004,7.0394,6.01021,5.35991,4.0896,7.09037,6.63222,...,5.14615,3.69053,4.995,6.66912,4.57137,4.95953,7.19956,6.76207,5.60281,6.67357

In [36]:
finalBulkDataDF.to_csv('164_bulk_data.txt', sep='\t')

In [37]:
tmpDF = pd.read_csv('164_bulk_data.txt', sep='\t')

In [38]:
tmpDF.head()

,Unnamed: 0,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
0,ACACB,6.330858,4.396284,4.805904,4.966865,5.691106,5.667721,4.809194,7.761777,5.601556,...,5.417592,3.387632,5.731086,6.418677,6.902343,4.997256,7.548762,7.420354,5.345336,5.002684
1,ADARB1,6.897489,5.652210,5.257610,7.006321,6.942789,6.713138,5.408853,5.599921,6.831413,...,6.886281,4.321727,6.200063,6.764018,5.699959,5.810218,6.754588,7.044514,6.586207,6.447253
2,ADCY1,9.929059,3.968036,5.426443,5.886470,4.268698,4.309261,3.759677,3.843700,4.131784,...,7.208777,1.893870,5.921672,5.617453,2.930743,3.437428,5.799983,6.786938,3.910495,7.442420
3,ADCYAP1,6.766269,4.335945,3.162058,4.232038,5.973976,4.516083,5.283369,2.777541,4.668671,...,6.116737,0.000000,4.232038,5.203749,5.392043,0.000000,7.405288,5.203749,6.521467,5.022526
4,ADD3,5.773671,5.613110,5.393434,6.960044,7.039399,6.010209,5.359909,4.089603,7.090371,...,5.146145,3.690531,4.995003,6.669121,4.571375,4.959531,7.199558,6.762072,5.602812,6.673566

In [39]:
tmpDF = tmpDF.rename(index=str, columns={'Unnamed: 0': "gene_name"})

In [40]:
tmpDF.head()

,gene_name,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
0,ACACB,6.330858,4.396284,4.805904,4.966865,5.691106,5.667721,4.809194,7.761777,5.601556,...,5.417592,3.387632,5.731086,6.418677,6.902343,4.997256,7.548762,7.420354,5.345336,5.002684
1,ADARB1,6.897489,5.652210,5.257610,7.006321,6.942789,6.713138,5.408853,5.599921,6.831413,...,6.886281,4.321727,6.200063,6.764018,5.699959,5.810218,6.754588,7.044514,6.586207,6.447253
2,ADCY1,9.929059,3.968036,5.426443,5.886470,4.268698,4.309261,3.759677,3.843700,4.131784,...,7.208777,1.893870,5.921672,5.617453,2.930743,3.437428,5.799983,6.786938,3.910495,7.442420
3,ADCYAP1,6.766269,4.335945,3.162058,4.232038,5.973976,4.516083,5.283369,2.777541,4.668671,...,6.116737,0.000000,4.232038,5.203749,5.392043,0.000000,7.405288,5.203749,6.521467,5.022526
4,ADD3,5.773671,5.613110,5.393434,6.960044,7.039399,6.010209,5.359909,4.089603,7.090371,...,5.146145,3.690531,4.995003,6.669121,4.571375,4.959531,7.199558,6.762072,5.602812,6.673566

In [41]:
temp1 = tmpDF.iloc[:, 0:3]
temp1.to_csv('2_bulk_data.txt', sep='\t',index=False)

In [42]:
tmpDF.to_csv('164_bulk_data.txt', sep='\t',index=False)

In [43]:
finalBulkDataDF.shape

(508, 1101)